Created BY: Sapia Cali <br>
Created Date: 11-24-2022 <br> 
Description: Step 3

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import time
import datetime

In [2]:
import numpy as np

In [3]:
%load_ext sql

In [4]:
engine = create_engine("mysql+pymysql://" + "root" + ":" + "" + "@" + "localhost" + ":" + "3306" + "/" + "dwh_finance" + "?" + "charset=utf8mb4")

In [5]:
%sql $engine.url

'Connected: root@dwh_finance'

In [6]:
pd.set_option('display.max_rows', 10000)
pd.set_option('display.max_columns', 10000)

# Data Processing

## History of Principal Payment

In [7]:
#Get the total Principal Payment
principal_payment = %sql Select t1.deal_name AS "Dela Name",  t1.payment_date AS "Payment Date", sum(t1.original_principal_balance_$) As "Original Principal", sum(t1.prior_principal_balance_$) AS "Previous Balance",sum(current_principal_balance_$) AS "Current Balance", sum(t1.principal_paid_$) AS total_principal_payment FROM t_bond_factor_information t1 \
                     WHERE t1.deal_name = 'CMLT06AMC1' \
                     GROUP BY t1.deal_name, t1.payment_date
principal_payment = pd.DataFrame(data= principal_payment)
principal_payment = principal_payment.drop_duplicates()
principal_payment

 * mysql+pymysql://root:***@localhost:3306/dwh_finance?charset=utf8mb4
11 rows affected.

,Dela Name,Payment Date,Original Principal,Previous Balance,Current Balance,total_principal_payment
0,CMLT06AMC1,2006-10-25,1.248850e+09,1.248850e+09,1.225860e+09,22990481.96
1,CMLT06AMC1,2006-11-27,1.248850e+09,1.225860e+09,1.184212e+09,41647693.97
2,CMLT06AMC1,2006-12-26,1.248850e+09,1.184212e+09,1.157849e+09,26363234.61
3,CMLT06AMC1,2007-01-25,1.248850e+09,1.157849e+09,1.097695e+09,60154125.14
4,CMLT06AMC1,2007-02-26,1.248850e+09,1.097695e+09,1.072671e+09,25023911.05
5,CMLT06AMC1,2007-03-26,1.248850e+09,1.072671e+09,1.052385e+09,20286387.29
6,CMLT06AMC1,2007-05-25,1.248850e+09,1.030277e+09,1.011584e+09,18692768.24
7,CMLT06AMC1,2007-06-25,1.248850e+09,1.011584e+09,9.938722e+08,17711801.46
8,CMLT06AMC1,2007-07-25,1.248850e+09,9.938722e+08,9.723502e+08,21521951.04
9,CMLT06AMC1,2007-08-27,1.248850e+09,9.723502e+08,9.527314e+08,19618782.91
10,CMLT06AMC1,2007-09-25,1.248850e+09,9.527314e+08,9.372778e+08,15453650.68

# Summary of Principal Paid

In [8]:
#Get the total Principal Payment
principal_payment = %sql Select t1.deal_name, t1.payment_date, sum(t1.principal_paid_$) AS total_principal_payment FROM t_bond_factor_information t1 \
                     WHERE t1.deal_name = 'CMLT06AMC1' \
                     GROUP BY t1.deal_name, t1.payment_date
df_principal_payment = pd.DataFrame(data= principal_payment)
df_principal_payment = df_principal_payment.drop_duplicates()
df_principal_payment.head()

 * mysql+pymysql://root:***@localhost:3306/dwh_finance?charset=utf8mb4
11 rows affected.

    deal_name payment_date  total_principal_payment
0  CMLT06AMC1   2006-10-25              22990481.96
1  CMLT06AMC1   2006-11-27              41647693.97
2  CMLT06AMC1   2006-12-26              26363234.61
3  CMLT06AMC1   2007-01-25              60154125.14
4  CMLT06AMC1   2007-02-26              25023911.05

In [9]:
# Create a csv file, attach the Total Principal Funds Available record from the Certificate Holders Statement pdf file

In [10]:
csv_file = pd.read_csv('CertificateHoldersStatement.csv')
pdf_df = pd.DataFrame(data=csv_file)
pdf_df.head()

    deal_name payment_date total_principal_payment_pdf
0  CMLT06AMC1   25/10/2006               22,990,481.96
1  CMLT06AMC1   27/11/2006               41,618,161.75
2  CMLT06AMC1   26/12/2006               26,363,234.61
3  CMLT06AMC1   25/01/2007               60,094,953.04
4  CMLT06AMC1   26/02/2007               25,012,377.15

In [11]:
 pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])

C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '25/10/2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '27/11/2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '26/12/2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '25/01/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '26/02/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '26/03/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '25/05/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '25/06/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '25/07/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '27/08/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])
C:\Users\SCali\AppData\Local\Temp\ipykernel_19352\2937961806.py:1: UserWarning: Parsing '25/09/2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  pdf_df['payment_date'] = pd.to_datetime(pdf_df['payment_date'])

In [12]:
pdf_df['total_principal_payment_pdf'] = pdf_df['total_principal_payment_pdf'].str.replace(',','').astype(np.float64)

In [13]:
variance_df = df_principal_payment.merge(pdf_df, on='payment_date', how='left')
variance_df.head()

,deal_name_x,payment_date,total_principal_payment,deal_name_y,total_principal_payment_pdf
0,CMLT06AMC1,2006-10-25,22990481.96,CMLT06AMC1,22990481.96
1,CMLT06AMC1,2006-11-27,41647693.97,CMLT06AMC1,41618161.75
2,CMLT06AMC1,2006-12-26,26363234.61,CMLT06AMC1,26363234.61
3,CMLT06AMC1,2007-01-25,60154125.14,CMLT06AMC1,60094953.04
4,CMLT06AMC1,2007-02-26,25023911.05,CMLT06AMC1,25012377.15

In [14]:
variance_df ['variance'] = variance_df['total_principal_payment'] - variance_df['total_principal_payment_pdf']
variance_df ['status'] =  variance_df['variance'].apply(lambda x: 'True' if x ==0  else 'False')
variance_df

,deal_name_x,payment_date,total_principal_payment,deal_name_y,total_principal_payment_pdf,variance,status
0,CMLT06AMC1,2006-10-25,22990481.96,CMLT06AMC1,22990481.96,0.00,True
1,CMLT06AMC1,2006-11-27,41647693.97,CMLT06AMC1,41618161.75,29532.22,False
2,CMLT06AMC1,2006-12-26,26363234.61,CMLT06AMC1,26363234.61,0.00,True
3,CMLT06AMC1,2007-01-25,60154125.14,CMLT06AMC1,60094953.04,59172.10,False
4,CMLT06AMC1,2007-02-26,25023911.05,CMLT06AMC1,25012377.15,11533.90,False
5,CMLT06AMC1,2007-03-26,20286387.29,CMLT06AMC1,20280417.88,5969.41,False
6,CMLT06AMC1,2007-05-25,18692768.24,CMLT06AMC1,18589548.04,103220.20,False
7,CMLT06AMC1,2007-06-25,17711801.46,CMLT06AMC1,17542778.10,169023.36,False
8,CMLT06AMC1,2007-07-25,21521951.04,CMLT06AMC1,21172328.47,349622.57,False
9,CMLT06AMC1,2007-08-27,19618782.91,CMLT06AMC1,19131295.24,487487.67,False
10,CMLT06AMC1,2007-09-25,15453650.68,CMLT06AMC1,15262064.49,191586.19,False

## Export Report

In [15]:
current_date = datetime.datetime.now()
filename = str(current_date.day)+str(current_date.month)+str(current_date.year)
df_principal_payment.to_csv(str('Principal_Paid_Summary_' + filename + '.csv'), index = False)

In [22]:
current_date = datetime.datetime.now()
filename = str(current_date.day)+str(current_date.month)+str(current_date.year)
variance_df.to_csv(str('Variance' + filename + '.csv'), index = False)

# Export Tables as csv file

In [16]:
# t_bond_factor_information table
bond_factor_information  = %sql Select * FROM t_bond_factor_information 
df_bond_factor_information  = pd.DataFrame(data= bond_factor_information )
df_bond_factor_information.head()

 * mysql+pymysql://root:***@localhost:3306/dwh_finance?charset=utf8mb4
260 rows affected.

,deal_name,cusip,class_name,payment_date,original_principal_balance_$,prior_principal_balance_$,prior_principal_balance_factor,current_principal_balance_$,current_principal_balance_factor,interest_paid_$,interest_paid_factor,principal_paid_$,principal_paid_factor,deferred_interest_$,deferred_interest_factor,principal_balance_adjustment_$,principal_balance_adjustment_factor,current_pass-thru_rate,next_pass-thru_rate,other,import_date
0,CMLT06AMC1,17309PAS5,a1,2006-10-25,6.020070e+08,6.020070e+08,1000,5.885687e+08,977.677515,2469169.34,4.101563,13438292.38,22.322485,0,0,0,0,5.46875,5.465,None,2022-11-23
1,CMLT06AMC1,17309PAA4,a2a,2006-10-25,2.082540e+08,2.082540e+08,1000,1.987027e+08,954.136112,840890.60,4.037812,9551338.17,45.863888,0,0,0,0,5.38375,5.380,None,2022-11-23
2,CMLT06AMC1,17309PAB2,a2b,2006-10-25,1.691860e+08,1.691860e+08,1000,1.691860e+08,1000.000000,695830.30,4.112813,0.00,0.000000,0,0,0,0,5.48375,5.480,None,2022-11-23
3,CMLT06AMC1,17309PAC0,a2c,2006-10-25,7.144000e+06,7.144000e+06,1000,7.144000e+06,1000.000000,29917.73,4.187812,0.00,0.000000,0,0,0,0,5.58375,5.580,None,2022-11-23
4,CMLT06AMC1,17309PAP1,ce,2006-10-25,2.560228e+07,2.560228e+07,1000,2.560143e+07,999.966745,3068895.10,119.868019,851.41,0.033255,0,0,0,0,143.89615,NaN,None,2022-11-23

In [17]:
df_bond_factor_information = df_bond_factor_information.drop_duplicates()

In [18]:
current_date = datetime.datetime.now()
filename = str(current_date.day)+str(current_date.month)+str(current_date.year)
df_bond_factor_information.to_csv(str('t_bond_factor_information' + filename + '.csv'), index = False)

In [19]:
# t_loan_level_data table
loan_level_data  = %sql Select * FROM t_loan_level_data 
df_loan_level_data  = pd.DataFrame(data= loan_level_data )
df_loan_level_data.head()

 * mysql+pymysql://root:***@localhost:3306/dwh_finance?charset=utf8mb4
64016 rows affected.

,loan_identification_number,property_type_code,occupancy_code,loan_pupose_code,note_type_code,current_interest_rate,pool_number,original_loan_balance,current_loan_balance,first_payment_date,maturity_date,current_p&i_constant,original_stated_term_in_months,foreclosure/bankruptcy_code,ltv_ratio_at_origination,state_code,participation_code,percentage_retained_or_purchased,interest_paid_to_date,amortization_type_code,"institution,_branch,_investor_or_servicer_code",balloon_code,last_appraisal_value,negative_sign_for_escrow_balance,escrow_balance,pledge_code,lien_position,payment_frequency_indicator,delinquency_history_flags,num_of_times_30+_delinq_in_last_12_months,total_payment,num_of_units,interest_collection_code,payment_type,interest_only_expiration_date,original_interest_rate,index_code,negative_sign_for_margin,margin,next_interest_rate_change_date,next_payment_change_date,interest_rate_adjustment_period,payment_adjustment_period,periodic_rate_cap_percentage,periodic_payment_cap,lifetime_maximum_interest_rate_ceiling,lifetime_rate_floor,original_p&i_constant,original_index_value,negative_amortization_limit_%,negative_amortization_code,first_rate_change_date,interest_rate_at_next_reset_date,interest_rate_rounding_method,arm_plan_code,arm_convertibility_code,mortgagor_last_name,mortgagor_first_name,property_street_address,property_city,property_zip_code,property_county_code,underwriting_ratio_1,underwriting_ratio_2,pmi_insurer_code,origination_date,other_data_1,purchase_price_of_property,document_type_code,buydown_type_code,months_to_1st_rate_change,months_to_1st_payment_change,arm_look_back_period,interest_rate_rounding_factor,current_ltv_ratio,periodic_rate_floor_percentage,first_payment_change_date,servicing_fee,net_wac,relocation_flag,borrower_credit_or_risk_grade,other_data_2,combined_ltv,other_data_3,initial_periodic_rate_cap_pct,pmi_coverage_percentage,section_32/hoepa_flag,senior_lien_amount,current_bpo_ltv,credit_score_of_primary_borrower,bpo_value,bpo_date,scheduled_balance,scheduled_balance_paid_thru_date,other_data_4,product_code,other_data_5,prepay_penalty_flag,prepay_penalty_term,prepay_penalty_expiration_date,prepay_penalty_code,other_data_6,deal_id,distribution_date,import_date
0,149572588,0,1,3,2,9.20,1,260000.0,259448.84,706,636,2129.55,360,0,80.00,NY,None,0,90601.0,2,None,0,325000.0,None,None,None,1,1,None,0.0,None,200,1,1,None,9.20,10,None,6.25,None,None,6,6,1,0,15.20,9.20,2129.55,0,0,0,608.0,0,2,5,None,None,None,None,MILLBROOK,12545,27,0,0,None,50603,NaN,0.0,0,None,20.0,21.0,45,0.125,None,1,708.0,0.5,8.685,None,None,None,80.00,None,2,None,None,None,0,561,0,None,259448.84,90601.0,None,5,None,N,0,None,None,None,CMLT06AMC1,2006-10-25,2022-11-23
1,98016793,0,1,3,2,6.85,1,482000.0,482000.00,706,636,2751.42,360,0,79.67,CA,None,0,100601.0,2,None,0,605000.0,None,None,None,1,1,None,0.0,None,200,2,4,None,6.85,10,None,6.00,None,None,6,6,1,0,12.85,6.85,2751.42,0,0,0,608.0,0,2,17,None,None,None,None,LOS ANGELES,90022,37,0,0,None,50624,NaN,0.0,0,None,20.0,21.0,45,0.125,None,1,708.0,0.5,6.335,None,None,None,79.67,None,2,None,None,None,0,705,0,None,482000.00,100601.0,None,17,None,Y,0,None,None,None,CMLT06AMC1,2006-10-25,2022-11-23
2,96862230,0,1,3,1,9.90,1,130000.0,129762.08,706,636,1131.25,360,0,100.00,WI,None,0,100601.0,1,None,0,130000.0,None,None,None,1,1,None,0.0,None,200,1,1,None,9.90,0,None,0.00,None,None,0,0,0,0,0.00,0.00,1131.25,0,0,0,NaN,0,0,9,None,None,None,None,MILWAUKEE,53210,79,0,0,None,50623,NaN,0.0,0,None,NaN,NaN,0,0.000,None,0,NaN,0.5,9.385,None,None,None,100.00,None,0,None,None,None,0,639,0,None,129762.08,100601.0,None,9,None,N,0,None,None,None,CMLT06AMC1,2006-10-25,2022-11-23
3,98819030,0,1,3,2,7.95,1,503500.0,503499.86,806,736,3335.69,360,0,93.24,CA,None,0,100601.0,2,None,0,540000.0,None,None,None,1,1,None,0.0,None,200,2,4,None,7.95,10,None,6.00,None,None,6,6,1,0,13.95,7.95,3335.69,0,0,0,708.0,0,2,17,None,None,None,None,LOS ANGELES,90043,37,0,0,None,60622,NaN,0.0,0,None,21.0,22.0,45,0.125,None,1,808.0,0.5,7.435,None,None,None,93.24,None,2,None,None,None,0,630,0,None,503499.86,100601.0,None,17,None,Y,0,None,None,None,CMLT06AMC1,2006-10-25,2022-11-23
4,95577391,0,1,1,2,6.99,2,426968.0,425552.97,706,636,2837.77,360,0,95.00,NY,None,0,100601.0,2,None,0,449440.0,None,None,None,1,1,None,0.0,None,200,1,1,None,6.99,10,None,6.00,None,None,6,6,1,0,12.99,6.99,2837.77,0,0,0,609.0,0,2,8,None,None,None,None,BROOKLYN,11236,47,0,0,None,50604,NaN,449440.0,0,None,32.0,33.0,45,0.125,None,1,709.0,0.5,6.475,None,None,None,95.00,None,2,None,None,None,0,642,0,None,425552.97,100601.0,None,8,None,N,0,None,None,None,CMLT06AMC1,2006-10-25,2022-11-23

In [20]:
df_loan_level_data = df_loan_level_data.drop_duplicates()

In [21]:
current_date = datetime.datetime.now()
filename = str(current_date.day)+str(current_date.month)+str(current_date.year)
df_loan_level_data.to_csv(str('t_loan_level_data' + filename + '.csv'), index = False)